 <%= form_with model: [book, book_comment], url: book_book_comments_path(book.id) do |f| %>
    <table class=="table table-hover table-inverse">
      <tbody>
        <tr>
          <%= f.text_area :comment, rows: '5',placeholder: "コメントをここに" ,class:"input-mysize" %>
          <%= f.submit "送信", class:"btn btn-outline-dark comment-submit float-raght" %>
        </tr>
      </tbody>
    </table>
 <% end %>